@font-face{
    font-family: 'Amoria';
    src: url('../fonts/amoria/AMORIA.otf') format('woff2'),
         url('../fonts/amoria/AMORIA.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Satoshi';
    src: url('../fonts/satoshi/Satoshi-Regular.otf') format('woff2'),
         url('./fonts/satoshi/Satoshi-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor-primaria: #A94FFF;
    --cor-secundaria: #001028;
    --sombra: #0010288c;
    --card-background-primario: #C5E2FF;
    --card-background-secundario: #E7D7FF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

html{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: var(--cor-secundaria);
}

.bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(5px); 
    transform: scale(1.1); 
    z-index: -1; 
}

nav{
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--cor-primaria);
    box-shadow: 0px 0px 4px 2px var(--sombra);
    color: var(--cor-secundaria);
    width: 100%;
    padding: 15px;
    z-index: 1000;
}

nav > span{
    align-self: center;
    grid-column: 1;
}

nav i{
    font-size: 1.2rem;
    transition: color .5s;
}

nav i:hover{
    cursor: pointer;
    color: var(--card-background-secundario);
}

nav > div{
    grid-column: 2;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

nav > div > p{
    font-family: 'Amoria', sans-serif;
    font-size: 2rem;
}

nav > div > span{
    width: 50px;
}

nav > div > span > img{
    max-width: 100%;
}

nav > ul{
    grid-column: 3;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

nav li{
    color: var(--cor-secundaria);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
}

nav li > a{
    text-decoration: none;
    color: var(--cor-secundaria);
}

main{
    margin-top: 30vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 50px 0px;
    gap: 20px;
}

section{
    border-radius: 5px;
    width: 95%;
}

section#About-us{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--cor-secundaria);
    padding: 20px;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    box-shadow: 0px 0px 4px 2px var(--sombra);
    overflow: hidden;
}

section#About-us .section-bg{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/bg-logo-deco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(.5);
    width: 100%;
    height: 100%;
    z-index: 5;
}

section#About-us h1{
    text-transform: uppercase;
    font-family: 'Amoria', sans-serif;
    z-index: 10;
}

section#About-us p {
    z-index: 10;
    text-align: justify;
    line-height: 1.5rem;
    letter-spacing: 1.2px;
    color: var(--card-background-secundario);
    text-indent: 15px;
}

section#About-us strong {
    font-family: 'Amoria', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    z-index: 10;
}

section#About-us i {
    font-weight: bold;
    z-index: 10;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding: 30px;
    margin-top: 20vh;
    width: 100%;
    background-color: var(--cor-secundaria);
    color: white;
}

footer > div#footer-logo{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    grid-row: 1/span 2;
    grid-column: 2;
}

footer > div > span{
    width: 200px;
}

footer > div > span > img{
    max-width: 100%;
    transform: rotate(45deg);
}

footer > div.footer-infos{
    display: flex;
    flex-flow: column nowrap;
}

footer > div.footer-infos h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

footer > div.footer-infos > ul{
    color: var(--card-background-secundario);
    list-style: none;
}

footer > div.footer-infos li > a{
    text-decoration: none;
    color: var(--card-background-secundario);
}

footer > div.footer-infos.newsletter{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-row-start: 1;
    grid-column: 3;
    gap: 10px;
}

footer > div.footer-infos.newsletter i{
    color: var(--card-background-primario);
    font-size: 2rem;
}

footer > div.footer-infos.newsletter > h3 > span{
    color: var(--card-background-primario);
    font-family: 'Amoria';
}

footer > div.footer-infos.newsletter > p{
    color: var(--card-background-secundario);
    text-align: center;
}

footer > div.footer-infos.newsletter i{
    color: var(--card-background-primario);
}

footer > div.footer-infos.newsletter > div{
    display: flex;
    flex-flow: row nowrap;
}

footer > div.footer-infos.newsletter > div input{
    padding: 10px 5px;
    width: 60%;
    border: 1px solid var(--cor-primaria);
    outline: none;
}

footer > div.footer-infos.newsletter > div button{
    padding: 10px;
    border: 1px solid var(--cor-primaria);
    background-color: var(--cor-secundaria);
    color: var(--card-background-primario);
    transition: color, background-color .5s;
}

footer > div.footer-infos.newsletter > div button:hover{
    cursor: pointer;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

footer > div.footer-infos.social-medias{
    align-items: start;
    justify-content: flex-start;
    grid-row-start: 2;
    grid-column-start: 1;
}

footer > div.footer-infos.social-medias ul{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    gap: 20px;
}

footer > div.footer-infos.social-medias i{
    font-size: 1.3rem;
}

footer > div.footer-infos.infos{
    align-items: end;
    justify-content: center;
    grid-row-start: 2;
    grid-column-start: 3;
}

footer > div.footer-infos.infos ul{
    margin-top: 10%;
    text-align: end;
    gap: 20px;
}

footer > div.footer-infos.infos li{
    margin-top: 5px;
}

footer > div.footer-infos.contato{
    align-items: start;
    justify-content: start;
    grid-column-start: 1;
    grid-row-start: 1;
}

footer div.footer-infos.contato p, div.footer-infos.contato ul{
    margin-top: 10%;
}

footer > div.footer-infos.contato p{
    font-style: italic;
}

footer > div.footer-infos.contato i{
    font-size: 1.3rem;
    margin-right: 5px;
}